[Unit]
Description=Discord Bot
After=network.target

[Service]
Type=simple
Restart=on-failure
User=mkasun
ExecStart=/home/mkasun/discord-bot/discord-bot 

[Install]
WantedBy=multi-user.target
